
flatwrm-master/__pycache__/flatwrm.cpython-38.pyc
flatwrm-master/__pycache__/aflare.cpython-312.pyc
flatwrm-master/__pycache__/aflare.cpython-37.pyc
flatwrm-master/__pycache__/aflare.cpython-38.pyc
flatwrm-master/__pycache__/flatwrm.cpython-37.pyc
/flatwrm-master/final_test
/flatwrm-master/final_test2
flatwrm-master/final_test1_output_985_erg.txt
flatwrm-master/flatwrm.py
flatwrm-master/flatworm-rect.png
flatwrm-master/flatworm.png
flatwrm-master/guide.txt
flatwrm-master/flatwrm_output_985_erg_0-30.txt
flatwrm-master/flatwrm_output_985_erg_0-30_2.txt
flatwrm-master/flatwrm_output_985_erg_0-30_3.txt
flatwrm-master/flatwrm_output_985_erg_0-30_test.txt
flatwrm-master/flatwrm_output_985_erg_144-265.txt
flatwrm-master/flatwrm_output_985_erg_229-265.txt
flatwrm-master/flatwrm_output_985_erg_29-30_3.txt
flatwrm-master/flatwrm_output_985_erg_31-44.txt
flatwrm-master/flatwrm_output_985_erg_44-265.txt
/flatwrm-master/Images
/flatwrm-master/Kepler_0-30_1
/flatwrm-master/Kepler_0-30_2
/flatwrm-master/Kepler_0-30_3
/flatwrm-master/Kepler_0-30_test
*.png
flatwrm-master/kplr003728906_output_985_erg_test_fd_1.txt
flatwrm-master/kplr003831820_output_985_erg_test_fd_1.txt
flatwrm-master/kplr003939069_output_985_erg_test_fd_1.txt
flatwrm-master/kplr004142137_flatwrm_output_985_erg.txt
flatwrm-master/kplr004585486_output_985_erg_test_fd_1.txt
flatwrm-master/kplr005003985_output_985_erg_ftest2.txt
flatwrm-master/periods_larger_than_the_data_baseline.txt
/flatwrm-master/test2_files
/flatwrm-master/test3_files
flatwrm-master/test2_flatwrm.py
flatwrm-master/test3_plot_flatwrm_results.py
flatwrm-master/test3_plot_flux_amp.py
/flatwrm-master/test_files
/flatwrm2
/flatwrm2_david
/LaTeX
/Okamoto_Data/.ipynb_checkpoints
Okamoto_Data/kepler_lightcurve.ipynb
/Okamoto_Data/mastDownload/Kepler
/Okamoto_Data/test2_data
Okamoto_Data/test2_filenames.txt
Okamoto_Data/test2_flatwrm_results_pdcsap.txt
Okamoto_Data/test2_flatwrm_results_pdcsap_normalised.txt
Okamoto_Data/test2_flatwrm_results_sap.txt
Okamoto_Data/test2_plot_flare.py
Okamoto_Data/test2_plot_flatwrm_results.py
Okamoto_Data/test2_save_flare_data.py
/Okamoto_Data/test_data
Okamoto_Data/test_data1.txt
Okamoto_Data/test_flares.txt
Okamoto_Data/test_flatwrm_results.txt
Okamoto_Data/test_get_Flare_files.py
Okamoto_Data/test_plot_flare.py
Okamoto_Data/test_plot_flatwrm_results.py
Okamoto_Data/test_save_flare_data.py
/Okamoto_Data/venv
virtual environment.txt
.vscode/settings.json
/AFD/Kepler_Plots
/AFD/Kepler_Plots_0-30_1
/AFD/Kepler_Plots_0-30_2
/AFD/Kepler_Plots_0-30_3
/AFD/Kepler_Plots_0-30_4
/AFD/Results
Okamoto_Data/get_Flare_files.py
Okamoto_Data/plot_flare.py
analysis/analysis_0-30.py
analysis/best_distr.py
analysis/distr_energies.py
analysis/energies_0-30.py
analysis/energies_all.py
analysis/flare_length.py
analysis/flatwrm_0-30.py
analysis/Okamoto_distr.py
analysis/wait_times_0-30_4.py
analysis/wait_times_Okamoto_all.py
